# Ignore node_modules directory
node_modules/

# Ignore .env files
.env

# Ignore build artifacts
build/

# Ignore Dist artifacts
dist/

# Ignore lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore git related files
.git/
.gitignore