@import '../../variables.scss';

footer {
  position: relative !important;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: $secondary-color;
  color: $primary-color;

  &__inner {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-grow: 1;
  }
  
  &__title {
    font-size: var(--mantine-font-size-lg);
    font-weight: 700;
  }

  &__link {
    display: block;
    font-size: var(--mantine-font-size-sm);
    cursor: pointer;
  
    &:hover {
      text-decoration: underline;
    }
  }
}
