@use 'variables' as v;

html,
body,
.App,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}


.control {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}